{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~": "./src",
      }
    }],
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true,
    }],
    ["transform-class-properties"]
  ]
}